/**
 * 自定义css
 */
/*自定义菜单*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.custom-menu-edit-con {
    position: relative;
    padding: 20px 50px 0 20px;
}
.hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}
/* 左侧 */
.inner-left {
    width: 380px;
    padding: 0!important;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none;
    border-left: 1px solid #dee5e7;
    border-bottom: 1px solid #dee5e7;
    border-top: 1px solid #dee5e7;
    position: relative;
}
/* 右侧 */
.inner-right {
    position: relative;
    background: #f3f4f8;
    padding: 0!important;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    width:100%;
    padding: 0;
    float: none;
    border-left: 1px solid #dee5e7;
    border-bottom: 1px solid #dee5e7;
    border-right: 1px solid #dee5e7;
    border-top: 1px solid #dee5e7;
}

.custom-menu-view-con {
    width: 309px;
    height: 506px;
    position: relative;
    margin: 50px auto;
}
.custom-menu-view {
    height: 100%;
    border: 1px solid #dedede;
}
.custom-menu-view__title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #323232;
    color: #fff;
}
.custom-menu-view__body {
    position: absolute;
    top: 40px;
    left: 1px;
    right: 1px;
    bottom: 50px;
    background: #f2f2f2;
    overflow: auto;
    border-bottom: 1px solid #dee5e7;
    border-top: 1px solid #dee5e7;
}
.custom-menu-view__footer {
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
.custom-menu-view__footer__left {
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid #dee5e7;
    background: url(../images/keyboard.png);
    background-repeat: no-repeat;
    background-position: center;
}
.custom-menu-view__footer__right {
    position: absolute;
    left: 40px;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 13px;
}

.custom-menu-view__menu {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-right: 1px solid #dee5e7;
    position: relative;
    cursor: pointer;
    float: left;
    width: 33.3333%;
}


.custom-menu-view__menu__sub {
    left: 4px;
    right: 4px;
    position: absolute;
    bottom: 60px;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    font-size: 10px;
}
.custom-menu-view__menu__sub li {
    position: relative;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    padding: 0;
    border-bottom: 1px solid #dee5e7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-menu-view__menu__sub:after {
    bottom: -4px;
    display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-style: solid;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 5px solid #fff;
}


.custom-menu-view__menu__sub li:hover {
    background: #ededed;
}

.inner-right {
    position: relative;
    background: #f3f4f8;
    padding: 0!important;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none;
    border-left: 1px solid #dee5e7;
    border-bottom: 1px solid #dee5e7;
    border-right: 1px solid #dee5e7;
    border-top: 1px solid #dee5e7;
    color: #58666e;
}

/* 保存按钮样式 */
.cm-edit-footer {
    margin-bottom: 20px;
    text-align: center;
}
.btn-info1 {
    color: #fff!important;
    background-color: #138ed4;
    border-color: #138ed4;
}